<%- include ('partes/header'); -%>


<div class="container" style="padding-top: 20px;">

        <div class="col" style="padding-inline: 0.1px;">
    
            <div class="row-lg-9">
                <div class="card">
                    <div class="card-body">
                        <form action="/empleados/insert/" method="POST">
                            <div class="form-group" style="margin-top:10px" >
                                <input type="text" name="DNI" placeholder="Inserte DNI" class="form-control" >
                            </div>
                          
                            <div class="form-group " style="margin-top:10px">
                                <input type="text" name="nombre" placeholder="Inserte Nombre" class="form-control" >
                            </div>
                            <div class="form-group" style="margin-top:10px">
                                <input type="text" name="apellido" placeholder="Inserte Apellido" class="form-control" >
                            </div>
                            <div class="form-group" style="margin-top:10px">
                                <input type="text" name="cargo" placeholder="Inserte Cargo" class="form-control" >
                            </div>
                            <div class="form-group" style="margin-top:10px">
                                <input type="text" name="direccion" placeholder="Inserte Direccion" class="form-control" >
                            </div>
                            <div class="form-group" style="margin-top:10px">
                                <input type="text" name="telefono" placeholder="Inserte Telefono" class="form-control" >
                            </div>
                            
                            <button type="submit" class="btn btn-primary btn-block" style="margin-top:10px">
                                Agregar
                            </button>
                        </form>
                    </div>
                </div>
            </div>
    
            <div class="row-lg-9">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>N°</th>
                            <th>DNI</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Cargo</th>
                            <th>Direccion</th>
                            <th>Telefono</th>
                            <th>Operación</th>
                        </tr>
                    </thead>
                    <body>
                        <% for(var i =0; i< empleados.length; i++){ %>
                            <tr>
                                <td><%= i + 1 %> </td>
                                <td><%= empleados[i].DNI %></td>
                                <td><%= empleados[i].nombre %></td>
                                <td><%= empleados[i].apellido %></td>
                                <td><%= empleados[i].cargo %></td>
                                <td><%= empleados[i].direccion %></td>
                                <td><%= empleados[i].telefono %></td>
                                <td>                                
                                    <a href="/empleados/delete/<%= empleados[i]._id %>" class="btn btn-danger">Eliminar</a>
                                    <a href="/empleados/editar/<%= empleados[i]._id %>" class="btn btn-info">Editar</a>
                                </td>

                            </tr>
                        <% } %>
                    </body>
                </table>
            </div>
        </div>
    </div>


<%- include ('partes/footer'); -%>

