<%- include ('partes/header'); -%>


<div class="container" style="padding-top: 20px;">

        <div class="col" style="padding-inline: 0.1px;">
    
            <div class="row-lg-9">
                <div class="card">
                    <div class="card-body">
                        <form action="/libros/insert/" method="POST">

                            <div class="form-group" style="margin-top:10px" >
                                <input type="text" name="editorial" placeholder="Inserte Editorial" class="form-control" >
                            </div>                          
                            <div class="form-group " style="margin-top:10px">
                                <input type="text" name="titulo" placeholder="Inserte titulo" class="form-control" >
                            </div>
                            <div class="form-group" style="margin-top:10px">
                                <input type="text" name="autor" placeholder="Inserte autor" class="form-control" >
                            </div>
                            <div class="form-group" style="margin-top:10px">
                                <input type="text" name="pais" placeholder="Inserte País" class="form-control" >
                            </div>
                            <div class="form-group" style="margin-top:10px">
                                <input type="text" name="precio" placeholder="Inserte Precio" class="form-control" >
                            </div>
                            <div class="form-group" style="margin-top:10px">
                                <input type="text" name="descripción" placeholder="Inserte Descripción" class="form-control" >
                            </div>
                            <div class="form-group" style="margin-top:10px">
                                <input type="text" name="isbn" placeholder="Inserte ISBN" class="form-control" >
                            </div>
                            
                            <button type="submit" class="btn btn-primary btn-block" style="margin-top:10px">
                                Agregar
                            </button>
                        </form>
                    </div>
                </div>
            </div>
    
            <div class="row-lg-9">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>N°</th>
                            <th>Editorial</th>
                            <th>Titulo</th>
                            <th>Autor</th>
                            <th>Pais</th>
                            <th>Precio</th>
                            <th>Descripción</th>
                            <th>ISBN</th>                            
                            <th>Operación</th>
                        </tr>
                    </thead>
                    <body>
                        <% for(var i =0; i< libros.length; i++){ %>
                            <tr>
                                <td><%= i + 1 %> </td>
                                <td><%= libros[i].editorial %></td>
                                <td><%= libros[i].titulo %></td>
                                <td><%= libros[i].autor %></td>
                                <td><%= libros[i].pais %></td>
                                <td><%= libros[i].precio %></td>
                                <td><%= libros[i].descripción %></td>
                                <td><%= libros[i].isbn %></td>
                                <td>                                
                                    <a href="/libros/delete/<%= libros[i]._id %>" class="btn btn-danger">Eliminar</a>
                                    <a href="/libros/editar/<%= libros[i]._id %>" class="btn btn-info">Editar</a>
                                </td>

                            </tr>
                        <% } %>
                    </body>
                </table>
            </div>
        </div>
    </div>


<%- include ('partes/footer'); -%>

